.banner-interno__fondo
  background-image: url("../assets/curso/images/header/interno.svg") !important
  background-repeat: no-repeat 
  
.cs
  overflow-y: hidden

.titulo-principal__numero 
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative;
  background-color: #1DD1FF

.titulo-segundo::after 
  content: ''
  display: block
  height: 3px
  width: 140px
  border-left: solid 50px
    border-left-color: currentcolor
  border-left-color: #1DD1FF
  background-color: #e8e8e8
.jumbotron
  background-color: #EDF7C2
.jumbotron-1
  background-color: #EDF7C2
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px
.jumbotron-2
  background-color: #EDF7C2
  margin-top: 15px
.jumbotron-3
  background-color: #EDF7C2

.jumbotron-4
  background-color: #B4D0E8
  margin-left: -80px
  width: 380px
  border-radius: 10px
.jumbotron-5
  background-color: #B4D0E8
  width: 380px
  margin-left: 30px
  margin-bottom: 2rem
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px
  @media (max-width: 992px)
    height:  320px
    width: 305px
    margin-left: 18px
.jumbotron-6
  background-color: #FFFFFF
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px
  border: 1px solid #000
.jumbotron-7
  background-color: #EDF7C2
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px
.jumbotron-8
  background-color: #E4F0FB
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px
.jumbotron-9
  background-color: #EDF7C2

.img-banner
  z-index: 1
.back-tab
  background-color: #DCEAF6
.fondo-1
  background-color: #F6F6F6
  border-radius: 10px
  /*@media (max-width: 992px)
    width: 430px
    margin-left: -100px
    margin-bottom: -98px !important
    bottom: 70px
    top: -30px*/
.fondo-2
  background-image: url('../assets/curso/images/tema4/back_1_1.png')
  background-repeat: no-repeat
  background-size: contain
  position: relative
  
.lista-ul--color li > i:first-of-type 
  color: #1DD1FF

/*.fa, .fas 
  font-weight: 900
  color: #1DD1FF*/
.fa
  color: #000
.back-table
  background-color: #1DD1FF
.th-1
	background-color: #F6F6F6
.bg-color-1
  padding: 10px
  background-color: #CCE951
  max-width: 180px !important	
  border-radius: 10px
  

.bg-color-2
  background-color: #CCE951
  border-radius: 30px

.bg-color-3
  padding: 8px
  background-color: #CCE951
  width: 500px !important	
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px

.bg-color-4
  padding: 8px
  background-color: #CCE951
  width: 250px !important	
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px

.bg-color-5
  padding: 8px
  background-color: #CCE951
  width: 600px !important	
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px

.tarjeta-gris-1
  background-color: #E8E8E8
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px

.acordion
  .tarjeta--azul
    background-color: #4dd0e1
    &.acordion__activo
      background-color: #E8E8E8

.color-tarjeta-slyder-1
  background-color: #B9D1E6
  height: 467px
  @media (max-width: 992px)
    height:  620px
    width: 235px
    margin-left: 10px

.color-tarjeta-slyder-2
  background-color: #E1ECF5 #CFE8FE
  height: 467px
  @media (max-width: 992px)
    height:  620px
    width: 235px
    margin-left: 10px

.color-tarjeta-slyder-3
  background-color: #CFE8FE
  height: 467px
  @media (max-width: 992px)
    height:  620px
    width: 240px
    margin-left: 10px


.color-tarjeta-slyder-4
  background-color: #CFE8FE
  height: 467px
  @media (max-width: 992px)
    height:  620px
    width: 235px
    margin-left: 10px



.slyder-f__btn i 
  font-size: 4rem
  color: #707BA3


.tranform
  background-color: #B9D1E6
  cursor: pointer
  height: 467px
  &:hover
    background-color: #E1ECF5
    h4, p
      color: back !important
  &::before
    color: $white
  @media (max-width: 992px)
    height:  620px
    width: 350px
    margin-left: -27px

.bg_grad-02
  background-color: #DFEDF8
  background-repeat: no-repeat
  background-size: cover
  @media (max-width: 992px)
    width: 390px
    margin-left: -24px

.bac-table
  background-color: #FFFF
  background-repeat: no-repeat
  background-size: cover
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  width: 50px
  height: 50px
  background-color: #fff
  border-radius: 50%
  background-repeat: no-repeat
  background-size: 16px 24px
  background-position: center
  border: 1px solid #D8ECFF
  top: 92%
  z-index: 10000
  opacity: 0.7
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.3)
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out
  cursor: pointer
.cajon-b::before 
  content: ''
  display: block
  position: absolute
  opacity: .35
  top: 299px
  left: 125px
  right: 1%
  bottom: 4%
.cajon-b.color-primario::before 
  background-color: #D5E6F5

.sp1
  background-color: #CFE8FE
  @media (max-width: 992px)
    height:  200px
    width: 325px
    margin-left: 10px



.horizontal-scroll
    align-items: stretch!important
.mg-bottom-li
  line-height: 12px !important
  
.mx-img
  margin-left: 5.2rem !important
.mx-img-1
  margin-left: 4rem !important

.banner-principal__accion
  margin-left: -40px

.lista-ol--cuadro__vineta
  color: #12263F !important
  font-weight: bold

.tabs-a__tab
  background-color: #E8E8E8

.td_width
  width: 18% !important

.lista-ul li > i:first-of-type, .lista-ul--separador li > i:first-of-type, .lista-ul--color li > i:first-of-type
  color: #387DB8

.fas.fa-check
  color: #1DD1FF !important

.center_tar 
  display: flex
  align-items: center


.slyder-a__bullets__item--active
  background-color: #387DB8 !important

.slyder-a__bullets__item
  background-color: #A1BACE

.text-ce
  text-align-last:  center !important

.img-a 
  display: block 
  margin: auto   
  width: auto
  height: auto

.bg_list_1
  border-radius: 30px
  background-color: #387DB8
  p
    color: white !important

.bg_list_2
  border-radius: 30px
  background-color: #5B9DD5
  p
    color: white !important

.bg_list_3
  border-radius: 30px
  background-color: #85BBE9

.bg_list_4
  border-radius: 30px
  background-color: #B5D8F6

.bg_list_5
  border-radius: 30px
  background-color: #D7E9F9

.slyder-a__bullets
  bottom: 0px !important

.boton, .boton--sm 
  background-color: #FE9A2A
  color: #12263F
  padding: 10px 15px
  border-radius: 5px
  display: inline-block
  display: inline-flex
  align-items: center
  transform: scale(1)
  @media (max-width: 992px)
    margin-bottom: 60px
